NET "clk" LOC=E3 | IOSTANDARD=LVCMOS33; 
NET "reset" LOC=E16 | IOSTANDARD=LVCMOS33;
NET "EN" LOC=P4 | IOSTANDARD=LVCMOS33;
NET "mode" LOC=U2 | IOSTANDARD=LVCMOS33;

NET "increMinUnit" LOC=P3 | IOSTANDARD=LVCMOS33;
NET "increMinTen" LOC=R3 | IOSTANDARD=LVCMOS33;
NET "increHourUnit" LOC=T1 | IOSTANDARD=LVCMOS33;
NET "increHourTen" LOC=T3 | IOSTANDARD=LVCMOS33;

NET "segO[0]" LOC=M4 | IOSTANDARD=LVCMOS33;
NET "segO[1]" LOC=L3 | IOSTANDARD=LVCMOS33; 
NET "segO[2]" LOC=N1 | IOSTANDARD=LVCMOS33;
NET "segO[3]" LOC=L5 | IOSTANDARD=LVCMOS33;
NET "segO[4]" LOC=L4 | IOSTANDARD=LVCMOS33;
NET "segO[5]" LOC=K3 | IOSTANDARD=LVCMOS33;
NET "segO[6]" LOC=M2 | IOSTANDARD=LVCMOS33;
NET "segO[7]" LOC=L6 | IOSTANDARD=LVCMOS33;

NET "bitO[0]" LOC=N6 | IOSTANDARD=LVCMOS33;
NET "bitO[1]" LOC=M6 | IOSTANDARD=LVCMOS33;
NET "bitO[2]" LOC=M3 | IOSTANDARD=LVCMOS33;
NET "bitO[3]" LOC=N5 | IOSTANDARD=LVCMOS33;
NET "bitO[4]" LOC=N2 | IOSTANDARD=LVCMOS33;
NET "bitO[5]" LOC=N4 | IOSTANDARD=LVCMOS33;
NET "bitO[6]" LOC=L1 | IOSTANDARD=LVCMOS33;
NET "bitO[7]" LOC=M1 | IOSTANDARD=LVCMOS33;

NET "noon" LOC=P2 | IOSTANDARD=LVCMOS33;
NET "hourReport" LOC=R2 | IOSTANDARD=LVCMOS33;